<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File"
				name="Infofile"
				fileName="${basedir}/../Logs/${shortdate} Info.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}| body: ${aspnet-request-posted-body}"
				encoding="utf-8"
				maxArchiveFiles="30"
				archiveFileName = "${basedir}/../Logs/Archive/${shortdate} Info.txt"
				archiveEvery="Day"
				archiveDateFormat="yyyy-MM-dd"
				archiveNumbering="DateAndSequence" 
				archiveAboveSize="104857600"
				/>

		<target xsi:type="File" 
				name="Warnfile" 
				fileName="${basedir}/../Logs/${shortdate} Warn.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}| body: ${aspnet-request-posted-body}" 
				encoding="utf-8"
				maxArchiveFiles="30"
				archiveFileName = "${basedir}/../Logs/Archive/${shortdate} Warn.txt"
				archiveEvery="Day"
				archiveDateFormat="yyyy-MM-dd"				
				archiveNumbering="DateAndSequence"
				archiveAboveSize="104857600"
				/>

		<target xsi:type="File" 
				name="Errorfile" 
				fileName="${basedir}/../Logs/${shortdate} Error.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}| body: ${aspnet-request-posted-body}" 
				encoding="utf-8"
				maxArchiveFiles="30"
				archiveFileName = "${basedir}/../Logs/Archive/${shortdate} Error.txt"
				archiveEvery="Day"
				archiveDateFormat="yyyy-MM-dd"
				archiveNumbering="DateAndSequence" 
				archiveAboveSize="104857600"
				/>


		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" 
				name="InfoErrorConsole"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}| body: ${aspnet-request-posted-body}"
				/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Info" maxlevel ="Info" writeTo="Infofile" />
		<logger name="*" minlevel="Warn" maxlevel ="Warn" writeTo="Warnfile" />
		<logger name="*" minlevel="Error" maxlevel ="Fatal" writeTo="Errorfile" />
		<logger name="*" minlevel="Info" maxlevel ="Fatal" writeTo="InfoErrorConsole" />		
		
	</rules>
</nlog>